@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* Swiper Custom Pagination Colors */
.custom-swiper .swiper-pagination-bullet {
  background: #ffffff !important;
  opacity: 0.5;
}

.custom-swiper .swiper-pagination-bullet-active {
  background: #e50914 !important;
  opacity: 1;
  width: 24px;
  border-radius: 9999px;
  transition: all 0.3s ease;
}
